body {
  display: flex;
  flex-flow: column nowrap;
  margin: 5%;
}

h1 {
  text-align: center;
}

h3 {
  text-decoration: underline;
}

div {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

input {
  width: 25px;
  height: 25px;
}

p {
  font-size: 20px;
  margin: 0%
}

strong {
  text-align: center;
}

.textInput {
  width: 700px;
  height: 25px;
}

.form {
   width: 1000px;
   height: 1050px;
   border: 5px solid;
   display: flex;
   flex-flow: row nowrap;
   padding: 1px;
}

.column1 {
  width: 400px;
  height: 1050px;
  border: 2px solid;
  display: flex;
  flex-flow: column nowrap;
}

.column2 {
  width: 240px;
  height: 1050px;
  border: 2px solid;
  display: flex;
  flex-flow: column nowrap;
}

.column3 {
  width: 180px;
  height: 1050px;
  border: 2px solid;
  display: flex;
  flex-flow: column nowrap;
}

.grid1 {
  width: 400px;
  height: 275px;
  border: 1px solid;
  align-items: center;
  font-size: 25px;
}

.grid2 {
  width: 400px;
  height: 75px;
  border: 1px solid;
  align-items: center;
  font-size: 25px;
}

.location {
  width: 400px;
  height: 70px;
  font-size: 15px;
}

.grid3 {
  width: 240px;
  height: 100px;
  border: 1px solid;
  font-size: 25px;
}

.grid4 {
  width: 240px;
  height: 175px;
  border: 1px solid;
  font-size: 25px;
  display: flex;
  flex-flow: column;

}

.grid5 {
  width: 240px;
  height: 45px;
  border: 1px solid;
  font-size: 20px;
}

.grid6 {
  width: 170px;
  height: 100px;
  border: 1px solid;
  font-size: 25px;
}

.grid7 {
  width: 170px;
  height: 175px;
  border: 1px solid;
  font-size: 25px;
  display: flex;
  flex-flow: column;

}

.grid8 {
  width: 170px;
  height: 45px;
  border: 1px solid;
  font-size: 20px;
}

.grid9 {
  width: 240px;
  height: 75px;
  border: 1px solid;
  display: flex;
  flex-flow: row nowrap;
}

.grid10 {
  width: 170px;
  height: 75px;
  border: 1px solid;
  display: flex;
  flex-flow: row nowrap;
}

.grid11 {
  width: 60px;
  height: 75px;
  border: 1px solid;
  display: flex;
  flex-flow: column nowrap;
}

.map {
  width: 1050px;
  height: 550px;
}

.submit {
  width: 70px;
  height: 25px;
}
