.list {
  width: auto;
  display: flex;
  flex-flow: column nowrap;
}

.columns {
  width: auto;
  height: 35px;
  display: flex;
  flex-flow: row nowrap;
  font-weight: bold;
}

.cell {
  width: 75px;
  height: 35px;
  text-align: center;
  display: flex;
  flex-shrink: 0;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

.cell2 {
  width: 35px;
  height: 35px;
  display: flex;
  flex-shrink: 0;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

.record {
  width: auto;
  height: 35px;
  display: flex;
  flex-flow: row nowrap;
}
